In [ ]:
#print is used to see the answers
#in jupyter notebook no need to provide the print statement in order to see the answers
#if more than two answers are there we can check all answers using print statement

In [1]:
a=10
a

10

In [2]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [6]:
num1=20
num2=30
add=num1+num2
print(num1+num2)
print(add)
print(add=num1+num2)   #not works

50
50

TypeError: 'add' is an invalid keyword argument for print()

In [9]:
num1=20
num2=30
add=num1+num2
print("the addition of",num1,"and",num2,"is",add)

the addition of 20 and 30 is 50

In [12]:
print("the addition of num1 and num2 is",add)

the addition of num1 and num2 is 50

In [13]:
print("the addition of 20 and 30 is",add)

the addition of 20 and 30 is 50

In [15]:
name='python'
age=10
city='hyderabad'
print("hello my name is",name,"i am",age,"years old from",city)

hello my name is python i am 10 years old from hyderabad

In [17]:
num1=20
num2=30
add=num1+num2
print("the addition of",num1,"and",num2,"is",add)
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 20 and 30 is 50
the addition of 20 and 30 is 50

- first decide how the print statement should be
- then replace the variable position as curly braces
- then apply format method

In [19]:
name='python'
age=10
city='hyderabad'
print("hello my name is",name,"i am",age,"years old from",city)
print("hello my name is {} i am {} years old from {}".format(name,age,city))

hello my name is python i am 10 years old from hyderabad
hello my name is python i am 10 years old from hyderabad

In [24]:
n1=100
n2=200
n3=300
avg=(n1+n2+n3)/3
print("the average of",n1,n2,"and",n3,"is",avg)
print("the average of {},{} and {} is {}".format(n1,n2,n3,avg))

the average of 100 200 and 300 is 200.0
the average of 100,200 and 300 is 200.0

**round**

In [25]:
val=125.2345
round(val)

125

In [26]:
round(val,1)

125.2

In [27]:
round(val,4)

125.2345

In [28]:
round(val,5)

125.2345

In [29]:
n1=100
n2=200
n3=300
avg=(n1+n2+n3)/3
avg1=round(avg)
print("the average of",n1,n2,"and",n3,"is",avg)
print("the average of {},{} and {} is {}".format(n1,n2,n3,avg1))

the average of 100 200 and 300 is 200.0
the average of 100,200 and 300 is 200

- fstring method

In [33]:
n1=100
n2=200
add=n1+n2
print(f"the addition of {n1} and {n2} is {add}")

the addition of 100 and 200 is 300

In [38]:
n1=100
n2=200
n3=300
avg=(n1+n2+n3)/3
avg1=round(avg)
print("the average of",n1,n2,"and",n3,"is",avg)
print("the average of {},{} and {} is {}".format(n1,n2,n3,avg1))
print(f"the average of {n1},{n2} and {n3} is {avg1}")

the average of 100 200 and 300 is 200.0
the average of 100,200 and 300 is 200
the average of 100,200 and 300 is 200

**three methods**
- 1.variable 
- 2..format(variable_name)
- 3.f"__________"

In [39]:
print('hello',end=' ')  #1
print('good morning')   #2

hello good morning

In [44]:
print(1)
print(2)
print(3)

1
2
3

In [41]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

In [42]:
print("hello","hai")

hello hai

**seperate**
- one print statement only
- inside one print statement we have multiple values
- i want to seperate these multiple values with anything

In [46]:
print(3,'.')

3 .

In [48]:
print("hello","hai",sep=' & ')

hello & hai

- format method
- f method
- end
     - multiple print statements
- sep
    - single point,multiple values

In [50]:
print(1,2,3,'.')

1 2 3 .

In [53]:
print(1,2,3,'.',sep='')

123.