In [ ]:
- strings
- lists
- dictionary
- tuples
- sets
- lambda function
- file handling

**strings**

- strings can initialize in three ways

    - single quotes
      - very common way to present
    - double quotes
      - double quotes also very common way to present
    - triple quotes
      - triple quotes means doc string

In [1]:
str1='python'
str1

'python'

In [2]:
type(str1)

str

In [ ]:
str2='PYTHON'
str3='10.5'
str4='10'
str5='true'
str6='&$'

**triple quotes**

- triple quotes is used to convey the information
- it is also called as doc string
- it is also called as multiline

In [6]:
str7='''Hello how are you
        Im good'''
print(str7)

Hello how are you
        Im good

In [8]:
str8="I like 'python'"
str8

"I like 'python'"

In [ ]:
- type 
- print
- len
- max
- min
- reversed
- sorted
- in
- index
- slice

**type**
- type is the keyword it will give the type of value

In [11]:
str1='python'
type(str1)

str

**what is the difference between keywords and packages methods**
- keyword is the reserved word
- different methods are available on different packages
- we have limited keywords are there : 35 keywords are there these are fixed
- whenever any keyword : keyword(value)
- before keyword there is another statement
- there is no dot beore keyword
    - eval()
    - input()
    - type()
    - range()
    - print()
- if you want to use methods from package
    - you need to import the package
    -

In [ ]:
str1='python'

In [12]:
type(str1)

str

In [13]:
print(str1)

python

In [14]:
len(str1)

6

**max**
  - it will retrive the maximum character based on ascii value

In [22]:
max(str1)

'y'

**min**

- it will retrive the minimum character based on ascii value``

In [17]:
min(str1)

'h'

**sum**

- it will return the sum of the values

**Reversed**

In [20]:
reversed(str1)

**Note**

- whenever you see the output inside greater than less than symbol
- means the output is stored inside that
- it is nothing but a **iterator**
- iterator means the output we can see using loop only

In [24]:
str=reversed(str1)
for i in str:
    print(i)

n
o
h
t
y
p

**sorted**

- it will give the output in ascending order or descending order based on ascii values
- sorted has one argument called reverse
- reverse is a default argument with value false
- False means it returns in ascending order
- now give reverse = True and check the order
- It should be in descending order

In [25]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [29]:
sorted("python",reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

**/**
- if you see any / then do not assign any argument before the slash

In [34]:
complex(2,3)

(2+3j)

In [36]:
complex()              #w
complex(2,3)          #w
complex(real=2,imag=3)  #w
complex(real=2,3)     #f
complex(2,imag=3)     #w

SyntaxError: positional argument follows keyword argument (3449458090.py, line 4)

In [32]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
import random()              #w
random.randint()             #W
random.randomint(10,20)      #w
random.randint(a=10,b=20)    #w
random.randint(c=10,d=20)     #fails because we should only give a and b but we have given c and d

**in**

In [38]:
# WAP ask the user get the number of 'a' in a given string
str1='hello how are you,is anand'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

3

**index**

In [1]:
str1='hello python'
# in python index starts with zero
str1[0]

'h'

In [ ]:
h  e  l  l  o     p  y  t  h   o   n
1  2  3  4  5  6  7  8  9  10  11  12

In [13]:
str1='hello python'
n=len(str1)
for i in range (0,n):
    print(i,str1[i])

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [7]:
str1='hello python'
for i in range (-1,-13,-1):
    print(i,str1[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 p
-7
-8 o
-9 l
-10 l
-11 e
-12 h

In [10]:
str1='hello python'
for i in range (-len(str1),0):
    print(i,str1[i])

-12 h
-11 e
-10 l
-9 l
-8 o
-7
-6 p
-5 y
-4 t
-3 h
-2 o
-1 n

In [ ]:
# Q2) write a program to print the each letter index positive way
      # the positive index of h is 0

# Q3) write a program to print the each letter index negative way
     # the negative index of h is -12

# Q4) write a program to print the each letter positive and negative way(single for loop)
     # the positive index of h is 0 and the negative index of h is -12

In [28]:
#2)
str2='hello python'
n=len(str2)
for i in range(n):
    print(f"the positive index of {str2[i]} is {i}")

the positive index of h is 0
the positive index of e is 1
the positive index of l is 2
the positive index of l is 3
the positive index of o is 4
the positive index of   is 5
the positive index of p is 6
the positive index of y is 7
the positive index of t is 8
the positive index of h is 9
the positive index of o is 10
the positive index of n is 11

In [27]:
#3)
str2='hello python'
n=len(str2)
for i in range(-n,0):
    print(f"the negative index of {str2[i]} is {i}")

the negative index of h is -12
the negative index of e is -11
the negative index of l is -10
the negative index of l is -9
the negative index of o is -8
the negative index of   is -7
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [26]:
#4)
str2='hello python'
n=len(str2)
for i in range(n):
    print(f"the positive index of {str2[i]} is {i} and the negative index of {str2[i]} is {i-n}")

the positive index of h is 0 and the negative index of h is -12
the positive index of e is 1 and the negative index of e is -11
the positive index of l is 2 and the negative index of l is -10
the positive index of l is 3 and the negative index of l is -9
the positive index of o is 4 and the negative index of o is -8
the positive index of   is 5 and the negative index of   is -7
the positive index of p is 6 and the negative index of p is -6
the positive index of y is 7 and the negative index of y is -5
the positive index of t is 8 and the negative index of t is -4
the positive index of h is 9 and the negative index of h is -3
the positive index of o is 10 and the negative index of o is -2
the positive index of n is 11 and the negative index of n is -1

In [36]:
# Q5) wap ask the user get the indexes of  occurences of 'a' in a given string

str2='available'
count=1
for i in range(len(str2)):
    if str2[i]=='a':
        print(f"the {count} index of {str2[i]} is {i}")
        count=count+1

the 1 index of a is 0
the 2 index of a is 2
the 3 index of a is 5

**when to use in operator and when to use range operator**

- in operator is used to get the characters
- range operator is used to get the numbers

In [57]:
# Q6) Get the sum of all the indexes
#     Get the count of all occurences : 3

str2='available'
count=0
summ=0
for i in range(len(str2)):
    if str2[i]=='a':
        count=count+1
        summ=summ+i
print("sum is",summ)
print("count is",count)

sum is  7
count is  3

In [66]:
#Q8) 
# A)Find the vowels in a given string
  # str1 : hai gow are you
str1='hai how are you'
for i in range(len(str1)):
    if str1[i] in 'aeiou':
        print(str1[i])
# B)Find the indexes of vowels
str1='hai how are you'
for i in range(len(str1)):
    if str1[i] in 'aeiou':
        print(f"index of {str1[i]} is {i}")
# C)Find the count of the vowels
str1='hai how are you'
count=0
for i in range(len(str1)):
    if str1[i] in 'aeiou':
        count=count+1
print("no of vowels",count)
# D)Find the sum of before index of vowels
str1='hai how are you'
summ=0
for i in range(len(str1)):
    if str1[i] in 'aeiou':
        summ=summ+i-1
print("sum of before index of vowels",summ)

a
i
o
a
e
o
u
index of a is 1
index of i is 2
index of o is 5
index of a is 8
index of e is 10
index of o is 13
index of u is 14
no of vowels 7
sum of before index of vowels 46

**mutable-immutable**

- values can not change using index operations is called as immutable

- strings are immutable

In [2]:
#I want to replace 'p' with 'P'
str1='python'
str1[0]='P'

TypeError: 'str' object does not support item assignment

## strings are immutable

**slice**

- cut into pieces
- which means we can extract some part of string
- For that we need to understand the start,stop,step
- s[start:stop:step]
- range(start,stop,step)

In [3]:
str='hello python'
str[2:10]

'llo pyth'

In [4]:
str='hello python'
str[2:10:2]

'lopt'

In [6]:
str='hello python'
str[2:10:-2]

#start =2
#direction is negative
#last=stop+1=10+1=11
#2====11 (actual positive)
#code says negative it is not possible

''

In [8]:
str='hello python'
str[7:-12:-2]

'y le'

In [9]:
str='hello python'
str[2:-1:2]

'lopto'

In [12]:
str[2:12:2]

'lopto'

In [13]:
str[2:12:-2]

''

In [14]:
str[2:-12:2]

''

In [15]:
str[2:-12:-2]

'l'

In [16]:
str[-2:-12:-2]

'otpol'

In [17]:
str[-2:12:2]

'o'

In [18]:
str[-2:-12:2]

''

In [19]:
str[:]

'hello python'

In [21]:
str[2:]

'llo python'

In [22]:
str[:12]

'hello python'

In [23]:
str[::]

'hello python'

In [25]:
str[::-1]  #reverse string

'nohtyp olleh'

In [27]:
str[::]

'hello python'

**concatenation**

In [30]:
str1='hello'
str2='python'
str1+str2

'hellopython'

In [31]:
str1='hello'
str2='python'
str1+' '+str2

'hello python'

In [32]:
str1='hello '
str2='python'
str1+str2

'hello python'

In [33]:
str1='hello'
str2=' python'
str1+str2

'hello python'

In [34]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [37]:
str1*3

'hellohellohello'

In [38]:
str1-1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

**string part-2**

**string methods**

- you need to treat strings is a package
- so apply dir on any string we will get the methods

In [39]:
s='python'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# how to call the keywords
# keyword()
# methods
# packaage.meethod

# capitalize

In [41]:
str='python'
str.capitalize()

'Python'

In [42]:
str.upper()

'PYTHON'

In [55]:
str.casefold()
# Return a version of the string suitable for caseless comparisons

'python'

In [56]:
str.center(15,'$')

'$$$$$python$$$$'

In [57]:
' '.center(11,'$')

'$$$$$ $$$$$'

In [58]:
''.center(11,'$')

'$$$$$$$$$$$'

In [59]:
'python'.center(2,'$')

'python'

**unique vowels or items**

- always make an empty string 

- iterate the letters of original string through for loop 

- whenever vowel condition match keep that letter in empty string

- nowonwards do the two checks

    - is that vowels

    - is that present in that new string

In [9]:
str1='aabbccddee'
str2=''
for i in str1:
    if i in 'aeiou' and i not in str2:
        str2=str2+i
print(str2)
len(str2)

ae

2

In [4]:
#  wap to find the unique vowels in a given string

str1='hai how are you'
def unique():
    v='aeiou'
    uv=''
    for i in str1:
        if i in v and i not in uv:
            uv=uv+i
    return uv          
x=unique()
print('unique vowels are',x)

unique vowels are aioeu

In [8]:
# wap to find the unique vowels in a given string

str1='hai how are you'
v='aeiou'
uv=''
for i in str1:
    if i in v and i not in uv:
        uv=uv+i        
print('unique vowels are',uv)

unique vowels are aioeu

- capitalize

- upper

- lower

- center

- casefold

- title

In [11]:
str='python'
str.title()

'Python'

In [13]:
# Q12) str='hello how are you'
    # op : 'Hello How Are You'

str='hello how are you'
str.title()

'Hello How Are You'

In [14]:
str='hello how are you'
str.capitalize()

'Hello how are you'

$count$

In [20]:
str1='hai how are you'
str1.count('a')

2

In [21]:
count=0
for i in str1:
    if i=='a':
        count=count+1
count

2

In [29]:
str='ola ola ola'
str.count('z')

0

- Note : there is no error in count

In [30]:
# you want to count the number of 'a' after 5th index
# you want to count the number of 'a' between 5th and 10th index

str='ola ola ola'
str.count('a',5)

2

In [34]:
str='ola ola ola'
str.count('a',5,10)

1

In [35]:
str='ola ola ola'
str.count('a',4,11)

2

In [36]:
str='ola ola ola'
str.count('a',4,21)

2

In [39]:
str='ola ola ola'
str.count('a',10,21)

1

In [93]:
#Q13) without using the count find  the number of 'ola'

str='ola ola ola'
count=0
n=len(str)
for i in range(n):
    if str[i]=='o' and str[i+1]=='l' and str[i+2]=='a':
        count=count+1
print(count)

3

In [107]:
str1=input("enter the string :")
count=0
n=len(str1)
for i in range(n):
    if str1[i]=='h' and str1[i+1]=='a' and str1[i+2]=='i':
        count=count+1
print(count)

enter the string : hai hai hai hai hai\

5

In [109]:
str='hai how are you hai hai'
count=0
str1='hai'
for i in range(len(str)):
    if str[i:i+len(str1)]==str1:
        count=count+1
print(count)

3

In [113]:
str='hai how are you hai hai'
count=0
n=len(str)
for i in range(n):
    if str[i:i+3]=='hai':
        count=count+1
print(count)

3

$replace$

In [59]:
str1='hello'
# I want to replace small 'l' with 'L'
# This we are not able to do with index operations
# That's why we are calling strings are immutable

# But this is possible using replace

str1.replace('l','L',0)

'hello'

- In replace we have count=-1 as a default value

- which means it will replace all the values

- so if i want to replace only one letter then is it possible? Yes

- / means do not give the argument names, directly we have to give the value

- Read the doc string carefully

- In that it will mention we will get error at particular incident

- For count method we will not get any error

- There is no substring found then answer will be zero

- For replace also we will not get any error

- If there is no substring found ,then the answer will be original string

In [73]:
# Q14)WAP ask the user replace the string
# input str: 'restart'
# op : 'resta$t'  

str[::-1].replace('r','$',1)[::-1]

'resta$t'

In [76]:
str='restart'
str2=str[::-1]
str3=str2.replace('r','$',1)
str4=str3[::-1]
str4

'resta$t'

In [78]:
s1=str[0]
s2=str[1:]
s3=s2.replace('r','$')
s4=s1+s3
s4

'resta$t'

$index$

- Index will give the index of letter in a given string

- By default it will provide the first occurence of letter only

- If you want next occurence index of same letter you need to give start,stop

- Like we given in count method

In [79]:
str1='restart'
str1.index('r')

0

In [85]:
# I want second r
str1.index('r',1)
# it starts searching from first index when we given 1

5

In [86]:
str1='hai hai hai hai hai'
i1=str1.index('a')
i2=str1.index('a',i1+1)
i3=str1.index('a',i2+1)
i4=str1.index('a',i3+1)
i5=str1.index('a',i4+1)

i1,i2,i3,i4,i5

(1, 5, 9, 13, 17)

$count$-$replace$-$index$

In [1]:
str='python'
str.count('t')

1

In [2]:
str.replace('t','T')

'pyThon'

In [3]:
str.index('t')

2

In [5]:
str.index('x')

#z=substring
#it is not found in python

ValueError: substring not found

In [9]:
str='hai ha hai hai'
str.count('a')
str.count('a',4)  # we want to count a from index 4
str.count('a',4,9)  #we want to count a from index 4 to index 9

2

In [11]:
str='hai ha hai hai'
str.find('a')

# index of a
# but so many a's are there
# by default it will give first occurences

1

In [13]:
str='hai hai hai hai'
i1=str.find('a')
i2=str.find('a',i1+1)
i3=str.find('a',i2+1)
i4=str.find('a',i3+1)
(i1,i2,i3,i4)

(1, 5, 9, 13)

$find$

In [17]:
str.find('w')
#str.index('a')

-1

In [18]:
str='hai hai hai hai'
i1=str.find('a')
i2=str.find('a',i1+1)
i3=str.find('a',i2+1)
i4=str.find('a',i3+1)
i5=str.find('a',i4+1)
(i1,i2,i3,i4,i5)

(1, 5, 9, 13, -1)

**if substring not found**

do the shift + tab understand the docstring

if they mentioned any error or not

for count and replace they did not metion any error

for index error is mentioned

for find it is mentioned as -1

- count will give zero

- replace will give same string

- index will give error

- find will give -1

In [35]:
# Q15)

name='omkar.nallagoni@cognizant.com'
#first name='omkar'
#second name='nallagoni'
#company name='cognizant'

s=name.split('.')
print('first name :',s[0])
s2=s[1].split('@')
print('second name :',s2[0])
print('company name :',s2[1])`

first name : omkar
second name : nallagoni
company name : cognizant

In [49]:
name='omkar.nallagoni@cognizant.com'
i1=name.find('.')
i2=name.find('@')
i3=name.find('.',i2)
print('first name :',name[0:i1])
print('second name :',name[i1+1:i2])
print('company name :',name[i2+1:i3])

first name : omkar
second name : nallagoni
company name : cognizant

In [50]:
def name_extraction(name):
    i1=name.find('.')
    i2=name.find('@')
    i3=name.find('.',i2)
    print('first name :',name[0:i1])
    print('second name :',name[i1+1:i2])
    print('company name :',name[i2+1:i3])
name_extraction('virat.kohli@rcb.com')

first name : virat
second name : kohli
company name : rcb

In [52]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [53]:
'abc123'.isalnum()

True

In [54]:
'123abc'.isalnum()

True

In [55]:
'abc'.isupper()

False

In [56]:
'ABC'.isupper()

True

$strip$-$lstrip$-$rstrip$

In [59]:
name1=' python '
name2=' python'
name3='python '
name1.strip(),name1.lstrip(),name1.rstrip()

('python', 'python ', ' python')

In [64]:
name2.strip(),name2.lstrip(),name2.rstrip()

('python', 'python', ' python')

In [65]:
name3.strip(),name3.lstrip(),name3.rstrip()

('python', 'python ', 'python')

In [71]:
name4=' python$$'
name4.strip('$')

' python'

In [72]:
name4=' python$$'
name4.strip('$').lstrip()

'python'

$split$

In [74]:
name='omkar.nallagoni@cognizant.com'
name.split('.')

['omkar', 'nallagoni@cognizant', 'com']

In [76]:
str='hello how, are you'
str.split('o')

['hell', ' h', 'w, are y', 'u']

$startswith-endswith$

In [78]:
str='hello how are you'
str.startswith('hello how are you')

True

In [79]:
str='hello how are you'
str.endswith('hello how are you')

True

In [80]:
str='hello how are you'
str.endswith('hello how are')

False