**input**
- input is a keyword ,we can provide values from keyword
- which means user can give the own values
- the kernel will be busy ,until you need to proide values inside the box
- provide the value and hit enter
- make sure that *should gone

In [5]:
input()

 krishna

'krishna'

In [6]:
a=input()

 krishna

In [7]:
type(a)

str

In [8]:
num=input("enter the number :")

enter the number : 1

In [9]:
a=input()
b=input()

 1
 2

In [10]:
a=int(input())   #int('100')=100
b=int(input())   #int('200')=200
a+b

 100
 200

300

In [11]:
a=input()
b=input()
a+b

 100
 200

'100200'

In [12]:
a=int(input("enter the num1"))
b=int(input("enter the num2"))
c=a+b
print(f"the addition of {a} and {b} is {c}")

enter the num1 100
enter the num2 200

the addition of 100 and 200 is 300

In [13]:
inp=input()

 2

In [14]:
print(inp)

2

In [15]:
name=input('what is your name?\n')

what is your name?
 krishna

In [16]:
print(name)

krishna

In [1]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'
speed=input(prompt)

What...is the airspeed velocity of an unladen swallow?
 2

In [2]:
int(speed)

2

In [19]:
int(speed)+5

7

In [20]:
int(speed)*5

10

In [2]:
inp=input("enter your name:")

enter your name: krishna

In [3]:
print("hello",inp)

hello krishna

In [4]:
hours=35
rate=2.75
grosspay=hours*rate
print(grosspay)

96.25

In [2]:
hours=int(input("enter the hours :"))
rate=float(input("enter rate per hour :"))
grosspay=hours*rate
print(grosspay)

enter the hours : 35
enter rate per hour : 2.75

96.25

In [10]:
width=17
height=12.0
n1=width//2
print(n1)
type(n1)

8

int

In [12]:
c=30
f=((9/5)*c)+32
print(f)

86.0

In [24]:
input()
input("enter the name :")
input("enter the number1 :")

 hi
enter the name : krishna
enter the number1 : 470

'470'

In [25]:
input()

 krishna

'krishna'

In [26]:
input("enter the name :")

enter the name : krishna

'krishna'

In [30]:
name1=input()
name2=input("enter the name :")
num=input("enter the number1 :")
print(name1)
print(name2)
print(num)

 hi
enter the name : krishna
enter the number1 : 470

hi
krishna
470

In [31]:
name1=input()
name2=input("enter the name :")
num=input("enter the number1 :")
print(name1,end=' ')
print(name2,end=' ')
print(num)

 hi
enter the name : krishna
enter the number1 : 470

hi krishna 470

In [32]:
n1=input("enter the num1:")  #takes string
n2=input("enter the num2:")
add=n1+n2
print(add)

enter the num1: 100
enter the num2: 200

100200

In [33]:
n1=int(input("enter the num1:"))   #int('100')=100
n2=int(input("enter the num2:"))   #int('200')=200
add=n1+n2                          #add=100+200
print(add)                         #300

enter the num1: 100
enter the num2: 200

300

In [34]:
n1=input("enter the num1:")    #n1='100'
n2=input("enter the num2:")    #n2='200'
add=int(n1)+int(n2)           #add=int('100')+int('200')=100+200=300
print(add)

enter the num1: 100
enter the num2: 200

300

In [4]:
n1=float(input("enter the num1:"))
n2=int(input("enter the num2:"))
add=n1+n2
print(add)

#whenever int is there don't give the  float values
#if you want to give float values then apply float conversion
#if you want to give int values then apply int conversion

enter the num1: 100.25
enter the num2: 200

300.25

**eval**

- eval meaning **evaluate**
- evaluate will use for numbers only , not for english
- evaluate will convert integer  numbers into integer
- evaluate will convert  float numbers into float

In [38]:
n1=eval(input("enter the num1:"))    
n2=eval(input("enter the num2:"))   
add=n1+n2           
print(add)

enter the num1: 100
enter the num2: 200

300