**Loops**

- Function: Reuse of the code
- Loop: Reuse of the code for multiple times unless the given conditions satisfactoriy
  - For
  - While
- Any loop require three things
  - start point                                   #initialization
  - what is the condition to stop                 #condition
  - increment or decrement                        #updation
- In for loop we will apply all above three in a single line
- In while loop we will apply all above three in three different lines

**For loop**
 - method-1

**in for loop we can use else block with if block**
- like
- for i in range(n):
-      if conditon:
-            statement
- else:
-     statement

In [ ]:
# syntax
for i in range (<stop>):
    print(i)

In [ ]:
for i in range (3):
    print(i)

**Note-1**: range(stop)

- The default start point is zero
  **Python index starts with zero**
- Default increment is 1
- Last value=stop-1

**range(5)**

- start value=0
- increment=1
- last value=5-1=4

In [ ]:
for i in range (5):
    print(i)

In [ ]:
for i in range (5):
    print(i,end=' ')

In [ ]:
# i want to print three times hello

for i in range(3):
    print("Hello")

In [ ]:
for i in range(3):
    print("Hello",end=' ')

$method-2$

**range (start,stop)**

- start value=start
- default increment by 1
- last value=stop-1

In [ ]:
# syntax
for i in range(<start>,<stop>):
    print(i)

In [ ]:
for i in range(1,3):
    print("Hello")

In [ ]:
for i in range(2,10):
    print(i,end=' ')

In [ ]:
# Q1)WAP ask the user print the square of the numbers from 1 to 5

for i in range(1,6):
    print(f"The square of {i} is {i*i}")

In [ ]:
# Q2)WAP ask the user take 5 random numbers and print the square of the random numbers

import random
for i in range(5):
    n=random.randint(1,10)
    print(f"the square of {n} is {n*n}")

In [ ]:
# Q3)create a function on reuse code lines call the function inside the for loop

import random
def square():
    n=random.randint(1,10)
    print(f"the square of {n} is {n*n}")
for i in range(5):
    square()

In [16]:
import random
def square():
    n=random.randint(1,10)
    return(f"the square of {n} is {n*n}")
    
for i in range(5):
    x=square()
    print(x)

the square of 2 is 4
the square of 10 is 100
the square of 3 is 9
the square of 8 is 64
the square of 9 is 81

In [17]:
def square():
    for i in range(5):
        n=random.randint(1,10)
        print(f"the square of {n} is {n*n}")
square()

the square of 7 is 49
the square of 3 is 9
the square of 10 is 100
the square of 3 is 9
the square of 5 is 25

In [ ]:
# Q4)WAP ask the user print the even or odd values between 11 to 21

for i in range(11,22):
    if i%2==0:
        print(f"{i} is an even number")
    else:
        print(f"{i} is an odd number")

In [ ]:
# Q5)WAP ask the user enter a value from keyboard 5 times print that value is even or odd

for i in range(5):
    n=eval(input("enter a number:"))
    if n%2==0:
        print(f"{n} is an even number")
    else:
        print(f"{n} is an odd number")

$method-3$
 **range(start,stop,step)**
- start=always a start value
-  step: Increment value
    - If inrement value is positive
    - Positive value means positive direction(forward)
       - last=stop-1
    - If increment value is negative
    - Negative value means negative direction(backward)
       - last=stop+1

In [ ]:
#case-1
for i in range(2,20,2):
    print(i,end=' ')

# start=2
# step=2   +ve direction
# last=stop-1=20-1=19

In [ ]:
#case-2
for i in range(2,20,-2):
    print(i,end=' ')

# start=2
# step=-2   -ve direction
# last=stop+1=20+1=21
#here answer will not come because negative direction but there is no end point

In [ ]:
#case-3
for i in range(2,-20,-2):
    print(i,end=' ')

# start=2
# step=-2   -ve direction
# last=stop+1=-20+1=-19

In [ ]:
#case-4
for i in range(-2,-20,-2):
    print(i,end=' ')

# start=-2
# step=-2   -ve direction
# last=stop+1=-20+1=-19

In [ ]:
#case-5
for i in range(-2,20,-2):
    print(i,end=' ')

# start=-2
# step=-2   -ve direction
# last=stop+1=20+1=19

In [ ]:
range(3,19,3)
range(3,19,-3)
range(3,-19,3)
range(3,-19,-3)
range(-3,19,3)
range(-3,-19,3)
range(-3,-19,-3)
range(-3,19,-3)
range(19,3,-3)
range(-3,-19,-3)
range(-3,-19,-3)
range(-3,-19,-3)
range(-3,-19,-3)

In [ ]:
# Q6)WAP  to create 9th table
#9*1=9
#
#9*10=90

for i in range (1,11):
    print(f"9 x {i} = {9*i}")

In [ ]:
# Q7) WAP to print the divisiors of number 50
#50%1==0
#50%2==0
#50%3==0

for i in range (1,51):
    if 50%i==0:
        print(i)

In [ ]:
num=eval(input("enter the number which you want division"))
for i in range(1,num+1):
    if num%i==0:
        print(i)

In [ ]:
def divisiors(num):
    for i in range (1,num+1):
        if num%i==0:
            print(i)
divisiors(50)

**summation wrappers**

In [ ]:
# Q8)WAP print the sum of first ten natural numbers

s=0
for i in range(1,11):
    s=s+i
print("sum of first ten natural numbers are :",s)

In [ ]:
l=[1,2,3]
sum(l)

In [ ]:
import keyword
keyword.kwlist

- not callable ,remove the brackets
- bound method means add the brackets
- function means add the brackets

**counter wrapper**

In [ ]:
#Q9) How many divisiors are available for 50
# tell the divisiors 1,2,5,10,25,50
# now I want to print : the number of divisiors are 6

c=0
for i in range (1,51):
    if 50%i==0:
        c=c+1
print(c)

In [ ]:
c=0
num=eval(input("enter a number :"))
for i in range (1,num+1):
    if num%i==0:
        c=c+1
print(c)

In [ ]:
#Q10) WAP ask the user enter one number from keyboard and ask the user get the second number randomly from (1,10)
     # if num1==num2 then print you won
     # otherwise print you lost
     # iterate these lines 3 times

for i in range(3):
    num1=eval(input("enter first number :"))
    import random
    num2=random.randint(1,10)
    print("second number :",num2)
    if num1==num2:
        print("You won")
    else:
        print("You lost")

In [ ]:
#case-1:
for i in range(3):
    num1=eval(input("enter first number :"))
    import random
    num2=random.randint(1,10)
    print("second number :",num2)
    if num1==num2:
        print("You won")
        break
    else:
        print("You lost")

In [ ]:
#case-2: give 5 chances
# whenever fail print the number of chances left

#case-3: suppose your all chances are over
# print your account is blocked try after 24 hours

**in operator**
- There are two operators are there in for loop
- one is range operator
- second one is in operator
- range operator is mainly for numbers
- in operator for characters

In [ ]:
name='python'
'p' in name
'y' in name
't' in name
'H' in name

In [ ]:
name='python'
'p' in name
'y' in name
't' in name
'h' in name
'o' in name
'n' in name

In [ ]:
for i in name:
    print(i)

In [2]:
for i in 'name':
    print(i)

n
a
m
e

In [ ]:
for i in name:
    print(i,end='')

In [ ]:
'A'=='a'

In [ ]:
'A'>'a'

**ASCII=American Standard Code for Information Interchange**

In [ ]:
A=65,B=66
a=97,b=98

**ord-chr**
- ord is the keyword which provides ASCII number of characters
- char is the keyword which provides character for given ASCII number

In [11]:
ord('A')

65

In [12]:
ord('a')

97

In [13]:
chr(65)

'A'

In [14]:
chr(97)

'a'

In [4]:
# I want to get all ASCII numbers of A to Z using for loop

for i in ('ABCDEFGHIJKLMNOPQRSTUVWXYZ'):
    print(i,ord(i))

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [ ]:
# package name : string
# import <package name>
# dir(<pakagename>)
# any method
# <packagename>.<methodname>

In [ ]:
import string

In [ ]:
dir(string)

In [ ]:
string.ascii_letters

In [ ]:
string.ascii_lowercase

In [ ]:
string.ascii_uppercase

In [5]:
import string
for i in string.ascii_uppercase:
    print(f"The ASCII value of {i} is {ord(i)}")

The ASCII value of A is 65
The ASCII value of B is 66
The ASCII value of C is 67
The ASCII value of D is 68
The ASCII value of E is 69
The ASCII value of F is 70
The ASCII value of G is 71
The ASCII value of H is 72
The ASCII value of I is 73
The ASCII value of J is 74
The ASCII value of K is 75
The ASCII value of L is 76
The ASCII value of M is 77
The ASCII value of N is 78
The ASCII value of O is 79
The ASCII value of P is 80
The ASCII value of Q is 81
The ASCII value of R is 82
The ASCII value of S is 83
The ASCII value of T is 84
The ASCII value of U is 85
The ASCII value of V is 86
The ASCII value of W is 87
The ASCII value of X is 88
The ASCII value of Y is 89
The ASCII value of Z is 90

In [15]:
for i in range (3205,3250):
    print(i,chr(i))

3205 ಅ
3206 ಆ
3207 ಇ
3208 ಈ
3209 ಉ
3210 ಊ
3211 ಋ
3212 ಌ
3213 ಍
3214 ಎ
3215 ಏ
3216 ಐ
3217 ಑
3218 ಒ
3219 ಓ
3220 ಔ
3221 ಕ
3222 ಖ
3223 ಗ
3224 ಘ
3225 ಙ
3226 ಚ
3227 ಛ
3228 ಜ
3229 ಝ
3230 ಞ
3231 ಟ
3232 ಠ
3233 ಡ
3234 ಢ
3235 ಣ
3236 ತ
3237 ಥ
3238 ದ
3239 ಧ
3240 ನ
3241 ಩
3242 ಪ
3243 ಫ
3244 ಬ
3245 ಭ
3246 ಮ
3247 ಯ
3248 ರ
3249 ಱ